@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face
{
	font-family:familia;
	src:url(federalescort.ttf);
}
@font-face
{
	font-family:familia2;
	src:url(junegull.ttf);
}
body
{
	
	font-size:18px;
	background-image:url(cocina.jpg);
	width: 100%


	
}
.titulo
{
	text-align:center;
	color:#C25301;
	text-shadow:#666 2px 2px;
	padding:20px 0;
	
	width:100%;
	/* repetir para las cajas */
	background:-moz-linear-gradient(top, #F90 , rgba(0,0,0,0.5));
	
	

}
.titulo h1
{
	font-size:4em;
	font-family:familia;
}
.titulo h2
{
	font-family:familia2;
	color:#300;
	text-shadow:none;
}
div
{
	
	font-family:familia2;
	text-transform:none;
	font:"fuenteNueva" bold;
	color:#EBEBEB;
}
.lateral
{
	float:left;
	height:500px;
	width:100px;
}

.navegacion
{
	width:1350px;
	height: 25px;
	background: rgba(0,0,0,0.5);
}


.navegacion li
{

	display:block;
	float:left;
	width: 165px;
	border-right: rgb(212, 105, 5) 2px solid;
	font-family:familia2;
	text-transform:none;
	font:"fuenteNueva" bold;
	color:rgb(216, 216, 216);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	

	
	  
}

li:nth-child(7)
{
	border:none;
}

.navegacion li:hover{

	animation-name: boxs;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
	


}

@keyframes boxs
{
	to
	{
		background:rgba(0, 0, 0, 0.5);
		
	}
	
	
}

ul:first-child
{
	margin-left: 25px;
}




.video
{
	text-align:center;
	margin-left:110px;
	border:none;
	
}
.videotext
{
	text-align:center;
	font-size:17px;
	margin-left:110px;
	font-family:"Arial Black", Gadget, sans-serif;
	background:rgba(0,0,0,0.5);
	border:none;
}

