/* CSS Document */
/* reset CSS*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th, caption {
  font-weight: normal;
  text-align: left; }

img, fieldset {
  border: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

q:before, q:after {
  content: ''; }

/* end reset CSS*/
/* Sass variables*/
/* fonts */
/* colors */
/* for highlight */
/* balance colors*/
body {
  font-size: 18px;
  width: 100%; }
  body a {
    text-decoration: none;
    color: inherit; }

.titulo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fcbf49;
  text-shadow: 2px 2px 4px black;
  width: 100%;
  border-bottom: 0.5px solid #001a23;
  background: -moz-linear-gradient(top, #fcbf49, #f77f00); }
  .titulo nav {
    display: flex;
    align-items: flex-end; }
    .titulo nav .nav {
      display: flex;
      flex-direction: row;
      margin: 5px;
      gap: 25px;
      font-family: Lato,Arial, Helvetica, sans-serif;
      font-size: 1.1em;
      color: #EBEBEB; }
      .titulo nav .nav div {
        border-radius: 7px;
        padding: 5px; }
      .titulo nav .nav div:hover {
        color: #d1cdcd; }
  .titulo hgroup {
    margin-left: 35px;
    font-family: Roboto; }
  .titulo h1 {
    font-size: 2.5em;
    transition: 0.2s all ease-out; }
    .titulo h1 a {
      color: #fcbf49; }
  .titulo h1:hover {
    text-shadow: 0 0 4px #0267c1; }
  .titulo h2 {
    color: #d62828;
    text-shadow: none; }

aside {
  float: left;
  height: 500px;
  width: 100px;
  border: 2px solid #C25301;
  border-radius: 5px;
  background: rgba(46, 46, 46, 0.5); }
  aside li {
    display: block;
    position: relative;
    color: #f06603;
    right: 90%;
    width: 90px;
    margin: 38px 0 75px 0;
    border-bottom: 2px solid black;
    font-family: familia2; }
    aside li :hover {
      animation-name: box-2;
      animation-duration: 250ms;
      animation-fill-mode: forwards; }

.navegacion {
  width: 1350px;
  height: 25px;
  background: rgba(0, 0, 0, 0.5); }

ul:first-child {
  margin-left: 25px; }

.resaltar {
  color: #003049; }

section {
  font-family: Lato, Arial, Helvetica, sans-serif;
  background: #C25301;
  text-align: center;
  line-height: 5em;
  height: 300px; }
  section p {
    font-size: 1.5em; }
  section h2 {
    font-size: 3em; }

.slice-container {
  display: flex;
  flex-direction: row; }
  .slice-container .p-container {
    flex: 3;
    padding: 15px;
    display: flex; }
    .slice-container .p-container p {
      color: #EBEBEB;
      margin: auto;
      font-family: Lato, Arial, Helvetica, sans-serif; }
  .slice-container .h-container {
    display: flex;
    flex-direction: column;
    flex: 2; }
    .slice-container .h-container h2 {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      color: #EBEBEB; }
  .slice-container .main-features {
    color: #001a23;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #EBEBEB; }

#first-container p, #second-container p {
  line-height: 3em; }

#intro-slice {
  background: url(..\images\chef.jpg);
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5); }
  #intro-slice #introP-container {
    color: #EBEBEB;
    background: -moz-linear-gradient(#f77f00, #014163);
    box-shadow: black 5px;
    line-height: normal;
    padding: 25px;
    flex: 1;
    text-align: start; }
  #intro-slice .intro-image {
    background: url(chef.jpg);
    flex: 1; }
  #intro-slice p {
    font-size: 1.6em; }

#first-container {
  background: url(diversidad.png); }
  #first-container .h-container, #first-container .p-container {
    background-color: rgba(0, 48, 73, 0.8); }

#second-container {
  background: url(slice-2-1.png) no-repeat;
  flex-direction: row-reverse; }
  #second-container .h-container, #second-container .p-container {
    background-color: rgba(214, 40, 40, 0.8); }

#third-container {
  background: url(union.jpg) center no-repeat #f77f00; }
  #third-container .h-container, #third-container .p-container {
    background: rgba(247, 127, 0, 0.8); }

#four-container {
  flex-direction: column;
  align-items: center;
  background-color: #eae2b7; }
  #four-container a {
    color: #d62828;
    text-decoration: underline; }
  #four-container p {
    color: #d62828; }
  #four-container .pBox-container a {
    transition: 0.2s all ease-out; }
  #four-container .pBox-container:hover {
    text-shadow: 0 0 5px #d62828; }

figure {
  padding-top: 2em; }

#figcap-container {
  padding-top: 2em;
  width: 56%;
  display: flex;
  margin: auto; }
  #figcap-container figcaption {
    font-family: Lato;
    font-size: 1.4em;
    background-color: #C25301;
    border-radius: 20px;
    color: #001a23;
    width: 100%;
    text-align: center;
    line-height: 2em; }

#video-container iframe {
  display: flex;
  margin: auto; }

.videotext {
  text-align: center;
  font-size: 17px;
  margin-left: 110px;
  font-family: "Arial Black", Gadget, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  border: none; }

footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 2em;
  background-color: #003049;
  font-family: Lato, Arial, Helvetica, sans-serif; }
  footer div {
    color: #EBEBEB;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); }
  footer address {
    color: #EBEBEB; }
  footer .social-links {
    display: flex;
    gap: 10px 10px;
    flex-direction: row;
    transition: all 0.2s ease-out; }
    footer .social-links .sl-container {
      transition: all 0.2s ease-out;
      opacity: 0; }
    footer .social-links .sl-container:nth-child(1) {
      transform: translateX(175%); }
    footer .social-links .sl-container:nth-child(2) {
      transform: translateX(58%); }
    footer .social-links .sl-container:nth-child(3) {
      transform: translateX(-58%);
      opacity: 1;
      display: flex; }
      footer .social-links .sl-container:nth-child(3) span {
        flex: 1;
        margin: auto;
        text-align: center;
        justify-content: center; }
    footer .social-links .sl-container:nth-child(4) {
      transform: translateX(-175%); }
    footer .social-links div {
      padding: 0;
      height: 60px;
      width: 60px;
      border: solid 1px #FFF;
      border-radius: 15px;
      display: flex; }
      footer .social-links div a {
        margin: auto; }

.social-links:hover .sl-container {
  opacity: 1; }
.social-links:hover .sl-container:hover {
  background: #FFF; }
.social-links:hover .sl-container:nth-child(1) {
  transform: translateX(80%); }
.social-links:hover .sl-container:nth-child(2) {
  transform: translateX(65%); }
.social-links:hover .sl-container:nth-child(3) {
  transform: translate(-58%, 50%);
  opacity: 0;
  display: flex; }
  .social-links:hover .sl-container:nth-child(3) span {
    flex: 1;
    margin: auto;
    text-align: center;
    justify-content: center; }
.social-links:hover .sl-container:nth-child(4) {
  transform: translateX(-67%); }

.pageLinks-container {
  display: flex;
  flex-direction: row; }
  .pageLinks-container .links-box {
    opacity: 1 !important;
    transform: translate(-75%); }
  .pageLinks-container .page-link {
    opacity: 0;
    transition: 0.2s ease-out all; }
  .pageLinks-container .page-link:nth-child(1) {
    transform: translate(50%); }
  .pageLinks-container .page-link:nth-child(2) {
    transform: translate(50%); }
  .pageLinks-container .page-link:nth-child(4) {
    transform: translate(-50%); }

.pageLinks-container:hover .page-link {
  opacity: 1; }
.pageLinks-container:hover .page-link:hover {
  color: gray; }
.pageLinks-container:hover .page-link:nth-child(1) {
  transform: translate(0); }
.pageLinks-container:hover .page-link:nth-child(2) {
  transform: translate(28%); }
.pageLinks-container:hover .page-link:nth-child(3) {
  opacity: 0 !important;
  transform: translate(-75%, 50%); }
.pageLinks-container:hover .page-link:nth-child(4) {
  transform: translate(-25%); }

@keyframes whiteFilling {
  100% {
    background-color: #FFF; } }
@keyframes titleText-shadow {
  100% {
    text-shadow: 0 0 4px #003049; } }
@keyframes sliceText-shadow {
  100% {
    text-shadow: 0 0 5px #d62828; } }

/*# sourceMappingURL=kitchen.css.map */
